body {
  background-color: #00a4a8;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5em;
  letter-spacing: 4px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
}

#game-interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen {
  margin-top: 15px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#button-panel {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-panel div {
  flex: 0 1 1;
}

#button-panel form {
  margin: auto 25px auto 0;
}

#button-panel form input {
  max-width: 75px;
  height: 44px;
  margin: auto 5px;
  font-size: 1.5em;
  text-align: center;
  color: lightcoral;
  border: none;
  border-radius: 6px;
}

input:focus-visible {
  outline: 2px solid #40ded0;
  outline-offset: -3px;
  box-shadow: 0 0 13px #00395a;
}

button {
  border: none;
  background-color: lightcoral;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 10px;
  margin-right: 10px;
}

#start-play.disabled {
  background-color: #fbcccc;
}

.row {
  /* height: 50px; */
  background-color: lightgoldenrodyellow;
  display: flex;
}

.cell {
  /* height: 50px; */
  background-color: turquoise;
  flex-basis: .5;
  flex-grow: 1;
}

.cell.toggle {
  background-color: pink;
}

.error {
  z-index: 10;
  margin: 28%;
  background-color: #fff;
  height: 300px;
  width: 550px;
}