#game-interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#screen {
  display: flex;
  flex-wrap: wrap;
}

#button-panel {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-panel div {
  flex: 0 1 1;
}

#button-panel form {
  margin: auto 25px auto 0;
}

#button-panel form input {
  max-width: 75px;
  height: 32px;
  margin: auto 5px;
  font-size: 1.5em;
  text-align: center;
}

button {
  border: none;
  background-color: lightcoral;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 10px;
  margin-right: 10px;
}

#start-play.disabled {
  background-color: thistle;
}

.row {
  /* height: 50px; */
  background-color: lightgoldenrodyellow;
  display: flex;
}

.cell {
  /* height: 50px; */
  background-color: turquoise;
  flex-basis: .5;
  flex-grow: 1;
}

.cell.toggle {
  background-color: pink;
}